{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}

<div class="container">
    <form action="{% url 'register' %}" method="POST" enctype="multipart/form-data">
        <div class="form mt-4">
            {% csrf_token %}

            {% bootstrap_form form %}

            {% bootstrap_button button_type="submit" content='Зарегистрироваться' %}
        </div>
    </form>
</div>
   <script>
        window.addEventListener('load', function () {
            let choose = document.getElementById('id_user_role');
            let main = function (evt) {
                let choice = document.getElementById('id_user_role').value;
                let label = document.querySelector('[for="id_username"]');
                if (choice === 'employer') {
                    label.innerHTML = 'Название компании';
                }
                if (choice === 'applicant') {
                    label.innerHTML = 'Имя Пользователя';
                }
            }
            choose.addEventListener('change', main);
        });
    </script>
{% endblock %}